body{
    background-image: url("../IMG/dark-tile.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    flex-direction: row;
    color: white;
    border: 1px white;
    background-color: rgba(0, 0, 0, 0.900);
    width: 98.93vw;
    height: 90px;
    margin-top: -22px;
    margin-left: -8px;
    position: sticky;
    top: -10px;
}
.name{
    color: rgb(252, 227, 0);
    text-decoration: none;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 10px;
    position: absolute;
}
.name:hover{
    text-shadow: 1px 1px 10px gold;
}
.elements{
    margin-top: 40px;
    font-size: 22px;
    margin-left: 250px;
    position: absolute;
}
.elements a{
    color: white;
    text-decoration: none;
    margin-left: 150px;
}
.elements a:hover{
    text-shadow: 1px 1px 10px white;
}
.elements a:active{
    text-shadow: 1px 1px 15px gold;
    color: gold;
}
.prices{
    color: white;
    margin: 50px;
    border: 1px white;
    border-radius: 25px;
    width: 900px;
    height: 450px;
    background: rgba(255, 255, 255, 0.663);
    box-shadow: 1px 1px 15px white;
    animation-name: flash;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes flash{

    0% {
        box-shadow: 1px 1px 10px white;
    }

    100% {
        box-shadow: 1px 1px 30px white;
    }

}
.prices h1{
    color: gold;
}
.prices__items{
    display: flex;
    justify-content: space-between;
}