body{
    user-select: none;
    background-image: url("../IMG/bg_st2__1608px.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    flex-direction: row;
    color: white;
    border: 1px rgb(9, 217, 78);
    background-color: rgba(0, 0, 0, 0.900);
    width: 98.93vw;
    height: 90px;
    margin-top: -22px;
    margin-left: -8px;
    position: sticky;
    top: -10px;
}
.name{
    color: rgb(252, 227, 0);
    text-decoration: none;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 10px;
    position: absolute;
}
.name:hover{
    text-shadow: 1px 1px 10px gold;
}
.elements{
    margin-top: 40px;
    font-size: 22px;
    margin-left: 250px;
    position: absolute;
}
.elements a{
    color: white;
    text-decoration: none;
    margin-left: 150px;
}
.elements a:hover{
    text-shadow: 1px 1px 10px white;
}
.elements a:active{
    text-shadow: 1px 1px 15px gold;
    color: gold;
}
.price__item h1{
    color: gold;
}
.price__item h3{
    color: grey;
    text-decoration: line-through;
    margin-left: 100px;
}
.price__item img{
    width: 200px;
    height: 200px
}
.price__item h2{
    color: gold;
    margin-left: 50px;
}
.prices{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
@media (max-width: 1050px){
    body{
        background-image: url('../IMG/dark-tile.png');
    }
    .elements{
        margin-left: 50px;
    }
    .elements a{
        margin-left: 100px;
    }
    .prices{
        flex-wrap: wrap;
    }
}