body{
    background-image: url("../IMG/dark-tile.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    flex-direction: row;
    color: white;
    border: 1px white;
    background-color: rgba(0, 0, 0, 0.900);
    width: 98.93vw;
    height: 90px;
    margin-top: -22px;
    margin-left: -8px;
    position: sticky;
    top: -10px;
    user-select: none;
}
.name{
    color: rgb(252, 227, 0);
    text-decoration: none;
    font-size: 35px;
    margin-top: 30px;
    margin-left: 10px;
    position: absolute;
}
.name:hover{
    text-shadow: 1px 1px 10px gold;
}
.elements{
    margin-top: 40px;
    font-size: 22px;
    margin-left: 250px;
    position: absolute;
}
.elements a{
    color: white;
    text-decoration: none;
    margin-left: 150px;
}
.elements a:hover{
    text-shadow: 1px 1px 10px white;
}
.elements a:active{
    text-shadow: 1px 1px 15px gold;
    color: gold;
}
.tg{
    text-align: right;
    margin-top: 10px;
    z-index: -1;
}
.tg img{
    width: 50px;
    height: 50px;
}
.title{
    margin-left: 150px;
    margin-top: 150px;
    user-select: none;
}
.title h1{
    font-size: 60px;
    color: rgb(252, 227, 0);
    margin-top: 100px;
}
.title h2{
    color: rgba(255, 255, 255, 0.89);
    margin-left: 230px;
    margin-top: -95px;
    font-size: 40px;
    width: 650px;
}
.how{
    font-size: 25px;
    color: white;
    border: 1px white;
    background-image: url("../IMG/block__bg.jpg");
    border-radius: 25px;
    width: 500px;
    height: 475px;
    position: absolute;
    margin-left: 55vw;
    z-index: -1;
    user-select: none;
}
.how:hover{
    box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.316);
}
.how h2{
    margin-top: 10px;
    margin-left: 20px;
}
.how li{
    margin-left: 25px;
    width: 350px;
    word-spacing: 2px;
}
.gems{
    margin-top: 250px;
}
.title__gems{
    color: white;
    font-size: 30px;
    width: 750px;
    margin-left: 75px;
    margin-top: 400px;
}
.prices{
    font-style: italic;
    color: white;
    justify-content: space-around;
    display: flex;
    position: absolute;
}
.prices img{
    margin-top: 0px;
    margin-left: 100px;
}
.prices h3{
    color: rgb(0, 150, 0);
    margin-top: 100px;
    margin-left: 150px;
    font-size: 40px;
}
.bsprice{
    margin-top: 8px;
    margin-left: 250px;
    color: rgba(255, 255, 255, 0.614);
    text-decoration: line-through;
}
.bsmyprice{
    color: rgb(0, 150, 0);
    font-size: 25px;
    margin-top: 10px;
    margin-left: 175px;
}
.st2 h3{
    color: gold;
}
.st2 img{
    margin-top: -40px;
    width: 250px;
    height: 250px;
}
.stprice{
    margin-top: -10px;
    margin-left: 250px;
    color: rgba(255, 255, 255, 0.614);
    text-decoration: line-through;
}
.stmyprice{
    color: gold;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 175px;
}
.cod img{
    height: 200px;
}
.codprice{
    margin-top: -10px;
    margin-left: 250px;
    color: rgba(255, 255, 255, 0.614);
    text-decoration: line-through;
    width: 15vw;
    height: 25vh;
}
.codmyprice{
    color: red;
    font-size: 25px;
    margin-top: -140px;
    margin-left: 175px;
}
.cod h3{
    color: red;
}
@media (max-width: 1024px){
    .header{
        width: 100vw;
    }
    .elements{
        margin-left: 100px;
    }
    .title h1{
        margin-left: -100px;
        width: auto;
    }
    .title h2{
        margin-left: 120px;
        width: auto;
    }
    .title{
        width: auto;
    }
    .how{
        margin-left: 150px;
    }
    .title__gems{
        margin-top: 700px;
        margin-left: 150px;
    }
    .prices{
        margin-left: -50px;
    }
    .codmyprice{
        font-size: 30px;
    }
    .stmyprice{
        font-size: 30px;
    }
    .bsmyprice{
        font-size: 30px;
    }
    .prices img{
        width: 200px;
        height: 150px;
    }
    .st2 img{
        height: 225px;
        width: 225px;
    }
    .cod img{
        height: 150px;
        width: 150px;
    }
    .stmyprice{
        margin-top: 10px;
    }
    .codprice{
        margin-top: 10px
    }
    .stprice{
        margin-top: -25px;
    }
    .codmyprice{
        margin-top: -190px;
    }
    .how{
        margin-left: 25vw;
    }
}
@media (max-width: 870px){
    .elements{
        margin-left: 50px;
    }
    .elements a{
        margin-left: 120px;
    }
}
@media (max-width: 768px){
    .header{
        width: 100vw;
    }
    .elements{
        font-size: 25px;
    }
    .elements a{
        margin-left: 80px;
    }
    .title__gems{
        margin-left: 10px;
    }
    .prices h3{
        font-size: 25px;
    }
    .prices img{
        width: 175px;
        height: 150px;
        margin-right: 0px;
        margin-left: 120px;
    }
    .st2 img{
        width: 175px;
        height: 200px;
    }
    .cod img{
        width: 150px;
    }
    .how{
        margin-left: 15vw;
    }
    .title__gems{
        font-size: 25px;
    }
    .bsmyprice{
        width: auto;
        margin-top: 10px;
        margin-left: 120px;
    }
    .codmyprice{
        margin-top: -220px;
    }
    .codprice{
        width: 80px;
    }
    .prices{
        margin-right: 70px;
        font-size: 10px;
    }
    .title__gems{
        font-size: 20px;
        width: auto;
    }
    .prices{
        display: none;
    }
    .title__gems{
        margin-top: -150px;
    }
    .how{
        margin-top: 100px;
    }
}
@media (max-width:702px){
    .name{
        font-size: 30px;
        margin-top: 25px;
    }
    .elements{
        font-size: 20px;
        margin-top: 35px;
        margin-left: 120px;
    }
    .elements a{
        margin-left: 50px;
    }
    .header{
        height: 75px;
    }
    .title h1{
        font-size: 45px;
        margin-left: -120px;
    }
    .title h2{
        margin-top: -70px;
        font-size: 25px;
        margin-left: 50px;
    }
    .how{
        margin-left: 50px;
    }
}
@media (max-width: 600px){
    .elements a{
        font-size: 18px;
        margin-left: 20px;
    }
    .elements{
        margin-left: 150px;
    }
    .how{
        margin-left: 5px;
    }
}
@media (max-width: 550px){
    .how ul {
        font-size: 22px;
    }
    .how li{
        width: 300px;
    }
    .how{
        width: 450px;
    }
}
@media (max-width:450px){
    .name{
        font-size: 25px;
    }
    .header{
        height: 70px;
    }
    .elements{
        margin-left: 100px;
        margin-top: 30px;
    }
    .elements a{
        font-size: 14px;
    }
    .elements a{
        margin-left: 10px;
    }
    .how{
        width: 90vw;
        margin-left: 10px;
    }
    .how li{
        width: 250px;
    }
}
@media (max-width: 336px){
    .header{
        height: 55px;
    }
    .name{
        margin-top: 20px;
    }
    .elements a{
        margin-left: 5px;
    }
    .elements{
        margin-left: 90px;
        margin-top: 25px;
    }
    .title h1{
        font-size: 35px;
    }
    .title h2{
        font-size: 20px;
        margin-left: 10px;
        margin-top: -55px;
    }
}
